<div class="container py-5">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-header bg-light text-center py-4">
            <h2 class="fw-bold text-secondary mb-0">EDITAR VEHÍCULO</h2>
        </div>

        <div class="card-body p-4">
            <form>
                <div class="mb-3">
                    <label for="placa" class="form-label fw-semibold">Placa</label>
                    <input type="number" class="form-control form-control-lg shadow-sm"name="placa"
                        [(ngModel)]="vehiculo.placa" readonly>
                </div>
                <div class="mb-3">
                    <label for="marca" class="form-label fw-semibold">Marca</label>
                    <input type="text" class="form-control form-control-lg shadow-sm"name="marca"
                        [(ngModel)]="vehiculo.marca" >
                </div>
                <div class="mb-3">
                    <label for="modelo" class="form-label fw-semibold">Modelo</label>
                    <input type="text" class="form-control form-control-lg shadow-sm"name="modelo"
                        [(ngModel)]="vehiculo.modelo" >
                </div>
                <div class="mb-3">
                    <label for="anio" class="form-label fw-semibold">Año</label>
                    <input type="number" class="form-control form-control-lg shadow-sm" name="anio"
                        [(ngModel)]="vehiculo['año']" >
                </div>
                <div class="mb-3">
                    <label for="color" class="form-label fw-semibold">Color</label>
                    <input type="text" class="form-control form-control-lg shadow-sm" name="color"
                        [(ngModel)]="vehiculo.color" >
                </div>
                <div class="d-flex justify-content-center gap-3">
                    <button type="button" class="btn btn-lg btn-outline-success shadow-sm px-4" (click)="editar()">
                        <i class="bi bi-check-circle"></i> GUARDAR
                    </button>
                    <button type="button" class="btn btn-lg btn-outline-secondary shadow-sm px-4" (click)="cancelar()">
                        <i class="bi bi-x-circle"></i> CANCELAR
                    </button>
                </div>
                

            </form>
        </div>
    </div>
</div>
